<!-- Generated template for the ListasComponent component -->
<ion-list>
  <ion-item>
    <ion-thumbnail item-start>
      <img src="../../assets/imgs/f1.png">
    </ion-thumbnail>
    <h2>Acceso a Datos</h2>
    <p>Jose Luis Rodriguez</p>
    <button ion-button clear item-end>Ver</button>
  </ion-item>

  <ion-item>
    <ion-thumbnail item-start>
      <img src="../../assets/imgs/f3.png">
    </ion-thumbnail>
    <h2>Desarrollo de Interfaces</h2>
    <p>Jesús García</p>
    <button ion-button clear item-end>Ver</button>
  </ion-item>

  <ion-item>
    <ion-thumbnail item-start>
      <img src="../../assets/imgs/f2.png">
    </ion-thumbnail>
    <h2>Programación Multimedia y Dispositivos Móviles</h2>
    <p>Miguel Ángel Camarena</p>
    <button ion-button clear item-end>View</button>
  </ion-item>

  <ion-item>
    <ion-thumbnail item-start>
      <img src="../../assets/imgs/f2.png">
    </ion-thumbnail>
    <h2>Programación de Servicios y Procesos</h2>
    <p>Miguel Ángel Camarena</p>
    <button ion-button clear item-end>Ver</button>
  </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/f2.png">
      </ion-thumbnail>
      <h2>Sistemas de Gestión Empresarial</h2>
      <p>Miguel Ángel Camarena</p>
      <button ion-button clear item-end>Ver</button>
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <img src="../../assets/imgs/f2.png">
      </ion-thumbnail>
      <h2>Empresa e iniciativa emprendedora</h2>
      <p>Unknow</p>
      <button ion-button clear item-end>Ver</button>
    </ion-item>

</ion-list>
