<!-- Generated template for the InfoPersonasComponent component -->
<ion-content>
  <ion-slides>
    <ion-slide>
      <ion-card id="1">

        <img src="../../assets/imgs/pedro.png"/>

        <ion-card-content>
          <ion-card-title>
            {{nombre}} {{apellido}}
          </ion-card-title>
          <p>
            Multimillonario desde 2025, acumuló el grueso de su fortuna gracias a su aportación al mundo de las TI.
          </p>
        </ion-card-content>
        <ion-item role="link" onclick="window.location='https://www.facebook.com/profile.php?id=100010186038333'">
          <ion-icon name='logo-facebook' item-start style="color: #0e08d0"></ion-icon>
          Facebook
          <ion-badge item-end>345</ion-badge>
        </ion-item>
        <ion-item role="link" onclick="window.location='https://twitter.com/PedroLrgc'">
          <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
          Twitter
          <ion-badge item-end>287</ion-badge>
        </ion-item>

        <ion-item role="link" onclick="window.location='https://www.instagram.com/pedrolrgc/'">
          <ion-icon name='logo-instagram' item-start style="color: #ee24c7"></ion-icon>
          Instagram
          <ion-badge item-end>431</ion-badge>
        </ion-item>

        <ion-item role="link" onclick="window.location='https://www.linkedin.com/in/pedro-l%C3%B3pez-de-la-reina-garc%C3%ADa-cervig%C3%B3n-01b16413a/'">
          <ion-icon name='logo-linkedin' item-start style="color: #0396ee"></ion-icon>
          LinkedIn
          <ion-badge item-end>10</ion-badge>
        </ion-item>

      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card id="2">

        <img src="../../assets/imgs/cristiano.png"/>

        <ion-card-content>
          <ion-card-title>
            Cristiano Ronaldo
          </ion-card-title>
          <p>
            es un futbolista portugués que juega como delantero en la Juventus de Turín de la Serie A de Italia y en la
            selección de Portugal, de la que es capitán.
          </p>
        </ion-card-content>
        <ion-item role="link" onclick="window.location='https://es-es.facebook.com/Cristiano/'">
          <ion-icon name='logo-facebook' item-start style="color: #0e08d0"></ion-icon>
          Facebook
          <ion-badge item-end>112M</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
          Twitter
          <ion-badge item-end>75,5M</ion-badge>
        </ion-item>

        <ion-item>
          <ion-icon name='logo-instagram' item-start style="color: #ee24c7"></ion-icon>
          Instagram
          <ion-badge item-end>143M</ion-badge>
        </ion-item>
        <ion-item>
          <button ion-button color="blue" full>Sigueme en Redes</button>
        </ion-item>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card id="3">

        <img src="../../assets/imgs/lebron.png"/>

        <ion-card-content>
          <ion-card-title>
            Lebron James
          </ion-card-title>
          <p>
            LeBron Raymone James es un jugador estadounidense de baloncesto que actualmente pertenece a la plantilla de
            Los Angeles Lakers de la NBA.
          </p>
        </ion-card-content>
        <ion-item>
          <ion-icon name='logo-facebook' item-start style="color: #0e08d0"></ion-icon>
          Facebook
          <ion-badge item-end>100M</ion-badge>
        </ion-item>
        <ion-item>
          <ion-icon name='logo-twitter' item-start style="color: #55acee"></ion-icon>
          Twitter
          <ion-badge item-end>80M</ion-badge>
        </ion-item>

        <ion-item>
          <ion-icon name='logo-instagram' item-start style="color: #ee24c7"></ion-icon>
          Instagram
          <ion-badge item-end>90M</ion-badge>
        </ion-item>
        <ion-item>
          <button ion-button color="blue" full>Sigueme en Redes</button>
        </ion-item>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>

